<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <title>admin login</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <link 
    rel="stylesheet" type="text/css" 
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css"
    />
    <link rel="stylesheet" href="{% static 'css/adminstf.css' %}" />

    
  </head>
  <body>
    <!-- partial:index.partial.html -->
    <div class="section">
      <div class="container">
        <div class="row full-height justify-content-center">
          <div class="col-12 text-center align-self-center py-5">
            <div class="section pb-5 pt-5 pt-sm-2 text-center">
              <label for="reg-log"></label>
              <div class="card-3d-wrap mx-auto">
                <div class="card-3d-wrapper">
                  <div class="card-front">
                    <div class="center-wrap">
                      <div class="section text-center">
                        <h4 class="mb-4 pb-3"> Add Staff</h4>
                        <form action="" method = "post" >{% csrf_token %}
                        <div class="form-group">
                          <input
                            type="text"
                            name="name"
                            class="form-style"
                            placeholder="Your Full Name"
                            id="logname"
                            autocomplete="off"
                            required
                          />
                          <i class="input-icon uil uil-user"></i>
                        </div>
                        <div class="form-group mt-2">
                          <input
                            type="text"
                            name="Department"
                            class="form-style"
                            placeholder="Your Department Name"
                            id="deptname"
                            autocomplete="off"
                            required
                          />
                          <i class="input-icon fa fa-search"></i>
                        </div>
                        
                      
                        
                        <div class="form-group mt-2">
                          <input
                            type="email"
                            name="email"
                            class="form-style  "
                            placeholder="Your Email"
                            id="logemail"
                            autocomplete="off"
                            required
                          />
                          <i class="input-icon uil uil-at"></i>
                        </div>
                        <div class="form-group mt-2">
                          <input
                            type="password"
                            name="pass"
                            class="form-style "
                            placeholder="Your Password"
                            id="logpass"
                            autocomplete="off"
                            required
                          />
                          <i class="input-icon uil uil-lock-alt"></i>
                        </div>
                        <div>
                          <button type="submit" class="btn mt-4" id="submit" value="Add">Add</button>
                        </div>
                      </form>
                      </div>
                    </div>
                  </div>      
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  
</html>